<div class="col-md-6 col-sm-12 service-img wow fadeInUp">
  <div class="service-inner-img">
  <a href="{{ fields.view_node.content}}"><img src="{{ fields.field_image.content}}" alt="Services Image"></a>
      <div class="service-caption service-caption-bg">
        <h5><a href="{{ fields.view_node.content}}">{{ fields.title.content}}</a></h5>
        <p>{{ fields.body.content}}</p>
          <p class="text-right">
          <a href="{{ fields.view_node.content}}" class="btn btn-infos">Read More...</a>
          </p>
      </div>
  </div>    
</div>