<!-- Testimonial section -->
<section id="testimonial">
  <div class="container">
      <h2 class="text-center wow fadeInDown">Testimonials</h2>
    <div class="row"> 
      <div class="loop owl-carousel owl-theme">
      {% for result in view.result %}
        <div class="item">
          <div class="row">
            <div class="col-md-3">
              <div class="testi-img wow fadeInLeft">
                <img src="{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}" alt="testimonial img" class="img-responsive">
              </div>
            </div>
            <div class="col-md-9 testimonial-description wow fadeInRight">
            <blockquote>
              <p>{{ view.field.body.value(view.result[loop.index-1]) |striptags }}</p>
                <div class="testimonial-name">
                  <h6>{{ view.field.title.value(view.result[loop.index-1]) }}</h6>
                  <p>{{ view.field.field_designation.value(view.result[loop.index-1]) |striptags }}, {{ view.field.field_company_name.value(view.result[loop.index-1]) |striptags }}</p>
                </div> 
             </blockquote> 
            </div>
          </div>  
        </div>  
      {% endfor %}          
      </div>
    </div>
  </div>
</section>
<!-- End Testimonial section -->
